<h1> Confirm Partner Delete </h1>
        <div *ngIf="_isLoading">
            <i class="fa fa-spinner fa-spin fa-3x"></i>
        </div>
        
        <table class="table table-striped table-hover">
                <thead>
                   <tr>
                     <th>Partner Id</th>
                     <th>Partner Name</th>
                     <th>Partner Description</th>
                     <th>Partner Phone #</th>
                     <th>Partner EmailAddress</th>
                     <th>Delete</th>
                    </tr>
               </thead>
                <tbody>
                    <tr>
                        <td>{{_partner.partnerId}}</td> 
                        <td>{{_partner.partnerName}}</td> 
                        <td>{{_partner.partnerDescription}}</td>
                        <td>{{_partner.phoneNumber}}</td>
                        <td>{{_partner.emailAddress}}</td>
                        <td><a [routerLink]="['/partnerconfirmdelete',_partner.partnerId]">Delete</a></td>
                    </tr>
                </tbody>
          </table>

<!--<div>
         isLoading =  {{ this._isLoading | json}}
         _partnerId = {{ this._partnerId | json}}
         partner = {{ _partner | json}}
         partnerId = {{_partner.partnerId}}
         emailAddress = {{_partner.emailAddress}}
         
</div> 
-->