<h1>Schedule Transfer</h1>
<form #form="ngForm"  novalidate  (ngSubmit)="onSubmit(form)">

     <div class="form-group">
        <label> Name</label>
        <input type="text" class="form-control"
               name="name" required
               placeholder="Name of the Schedule Transfer Request"
               [(ngModel)]="_model.name"
               #name="ngModel">
           <div *ngIf="name.errors && (name.dirty || name.touched)"
                class="alert alert-danger">
                Name is Required
           </div>
     </div>

     <div class="form-group">
        <label> Description</label>
        <input type="text" class="form-control"
               name="description" required
               placeholder="Description of the scheduled transfer request"
               [(ngModel)]="_model.description"
               #description="ngModel">
           <div *ngIf="description.errors && (description.dirty || description.touched)"
                 class="alert alert-danger">
                Description is Required
           </div>
     </div>


     <div class="form-group">
        <label> PartnerId</label>
        <input type="text" class="form-control"
               name="partnerid" required
               placeholder="PartnerId of the request to be scheduled"
               [(ngModel)]="_model.partnerId"
               #partnerid="ngModel">
           <div *ngIf="partnerid.errors && (partnerid.dirty || partnerid.touched)"
                 class="alert alert-danger">
                PartnerId is Required
           </div>
     </div>

     <div class="form-group">
        <label> Client Id</label>
        <input type="text" class="form-control"
               name="clientid" required
               placeholder="ClientId  of the request to be scheduled"
               [(ngModel)]="_model.clientId"
               #clientid="ngModel">
           <div *ngIf="clientid.errors && (clientid.dirty || clientid.touched)"
                 class="alert alert-danger">
                ClientId is Required
           </div>
     </div>

     <div class="form-group">
        <label>Client Password</label>
        <input type="text" class="form-control"
               name="password" required
               placeholder="ClientId  of the request to be scheduled"
               [(ngModel)]="_model.password"
               #password="ngModel">
           <div *ngIf="password.errors && (password.dirty || password.touched)"
                 class="alert alert-danger">
                Password is Required
           </div>
     </div>

     <button type="submit" class="btn btn-default"
             [disabled]="!form.form.valid">Submit</button>
</form>




<div>
<br>
  Model: {{ _model | json}}
<br>
  Angular: {{ form.value | json  }}
<br>
</div>