<h1>Log Details</h1>
        <div *ngIf="_isLoading">
            <i class="fa fa-spinner fa-spin fa-3x"></i>
        </div>
        <table class="table table-striped table-hover ">
         <thead>
            <tr>
             <th>Partner Id</th>
             <th>User Id</th>
             <th>Log Event</th>
             <th>Time Stamp</th>
             <th>Origin IP Address</th>
             <th>Destination IP Address</th>
            </tr>
         </thead>
         <tbody>
          <tr *ngFor = "let detail of _auditDetail">
                <td>{{detail.partnerId}}</td>
                <td>{{detail.userId}}</td>
                <td>{{detail.logEvent}}</td>
                <td>{{detail.timeStamp}}</td>
                <td>{{detail.originIPAddress}}</td>
                <td>{{detail.destinationIPaddress}}</td>
            </tr>
        </tbody>
        </table>