<h1>Filemap Details</h1>
<form #filemapform="ngForm"  (submit)="onSubmit(filemapform)" name="form" novalidate>

<div class="form-group">
         <label>Enter Partner Name</label>
            <input type="text"  class="form-control"
               name="partnerid" required 
               placeholder="Enter a valid Partner Id"
               [(ngModel)]="_partnerId"
               #partnerid="ngModel">
            <div *ngIf="partnerid.errors && (partnerid.dirty || partnerid.touched)"
                class="alert alert-danger">
                Partner Name is Required
            </div>
            </div>
 <button type="submit" class="btn btn-default"  [disabled]="!filemapform.form.valid">Submit</button>
</form>