
<h1>Partner's Client Detail</h1>
    <div *ngIf="_isLoading">
            <i class="fa fa-spinner fa-spin fa-3x"></i>
        </div>
       <!--
        <table id="exampletable"  class="table table-striped table-hover" cellspacing=0 width="100%">
        <thead>
            <tr>
             <th>Partner Name</th>
             <th>Partner Phone</th>
             <th>Partner Email Address</th>
            </tr>
        </thead>
        <tbody>
          <tr *ngFor = "let p of _partners">
               <td>{{p.partnerName}}</td>
               <td>{{p.phoneNumber}}</td>
               <td>{{p.emailAddress.emailAddress}}</td>
            </tr>
         </tbody>
    </table>
    -->
  
      <table id="clientstable"  class="table table-striped table-hover">
          <thead>
            <tr>
             <th>Client Name</th>
             <th>Client Description</th>
             <th>Phone Number</th>
             <th>Client Email Address</th>
             <th>Registered Partner</th>
             <th>Registered Partner File Path</th>
             <th>Client File Path</th>
             <th>Client File</th>
             </tr>
        </thead>
        <tbody>
        <tr *ngFor = "let c of _clients">
               <td>{{c.clientName}}</td>
               <td>{{c.clientDescription}}</td>
               <td>(913) 989 0343</td>
               <td>{{c.emailAddress.emailAddress}}</td>
               <td>{{c.registrationInfo.partnerAddress}}</td>
               <td>{{c.registrationInfo.partnerFilePath}}</td>
               <td>{{c.registrationInfo.clientFilePath}}</td>
               <td>{{c.registrationInfo.clientFile}}</td>
         </tr>
        </tbody>
    </table>

    <!--
    <table class="table table-striped table-hover">
         <thead>
            <tr>
              <th>Partner Name</th>
              <th>Partner Description</th>
              <th>Phone Number</th>
              <th>Email Address</th>
             </tr>
        </thead>
        <tbody>
             <td>{{c.auditEntries[0].logEntry}}</td>
                <td>{{c.auditEntries[1].logEntry}}</td>
        </tbody>
   </table>
   -->

   <div>
  <!-- {{ _clients | json }} -->
   </div>
