

<h1> Confirm Partner Modify </h1>
     This is the form you can use to modify partner information. *Note that partnerid cannot be changed as this your 
     unique identifier.
    
     <form #modifyForm="ngForm"  (submit)="onSubmit(modifyForm)" name="form" novalidate>

                 <label>Partner Name*</label>
                 <div class="panel panel-default">
                        <div class="panel-heading">
                                 {{_model.partnerId}}
                        </div>
                 </div>

               
                <div class="form-group">
                        <label>Partner Name</label>
                        <input type="text" class="form-control"
                            name="partnername" required 
                            placeholder = "Enter a unique  and valid Partner name"
                            [(ngModel)]="_model.partnerName"
                            #partnername="ngModel">
                </div>


                <div class="form-group">
                        <label>Partner Wallet Path</label>
                        <input type="text" class="form-control"
                               name="walletfilepath" required 
                               placeholder = "Enter the Path to the Partner Wallet file"
                               [(ngModel)]="_model.walletFilePath"
                               #walletfilepath="ngModel">
                           <div *ngIf="walletfilepath.errors && (walletfilepath.dirty || walletfilepath.touched)"
                                class="alert alert-danger">
                                Path to the Wallet file is required
                           </div>
                     </div>
                  
                     <div class="form-group">
                      <label>Partner Wallet Password</label>
                      <input type="text" class="form-control"
                             name="walletpassword" required 
                             placeholder = "Enter the password for the Wallet"
                             [(ngModel)]="_model.walletPassword"
                             #walletpassword="ngModel">
                         <div *ngIf="walletpassword.errors && (walletpassword.dirty || walletpassword.touched)"
                              class="alert alert-danger">
                              Wallet password is required
                         </div>
                      </div>
                <div class="form-group">
                        <label>Partner Description</label>
                        <input type="text" class="form-control"
                            name="description" required 
                            placeholder = "Enter a unique  and valid Partner name"
                            [(ngModel)]="_model.partnerDescription"
                            #description="ngModel">
                </div>

                <div class="form-group">
                        <label>Phone Number</label>
                        <input type="text" class="form-control"
                            name="phonenumber" required 
                            placeholder = "Enter a phone number"
                            [(ngModel)]="_model.phoneNumber"
                            #phonenumber="ngModel">
                </div>

                <div class="form-group">
                        <label>Server Address</label>
                        <input type="text" class="form-control"
                            name="serveraddress" required 
                            placeholder = "Enter the server address"
                            [(ngModel)]="_model.serverAddress"
                            #serveraddress="ngModel">
                </div>

                <div class="form-group">
                        <label>UserId</label>
                        <input type="text" class="form-control"
                            name="userid" required 
                            placeholder = "Enter a userid"
                            [(ngModel)]="_model.userId"
                            #userid="ngModel">
                </div>

                <div class="form-group">
                        <label>Password</label>
                        <input type="text" class="form-control"
                            name="password" required 
                            placeholder = "Enter a password"
                            [(ngModel)]="_model.password"
                            #password="ngModel">
                </div>
                <div class="form-group">
                        <label>Filepath</label>
                        <input type="text" class="form-control"
                            name="filepath" required 
                            placeholder = "Enter a filepath"
                            [(ngModel)]="_model.filePath"
                            #filepath="ngModel">
                </div>
             <div class="form-group">
                        <label>Email</label>
                        <input type="text" class="form-control"
                            name="emailaddress" required 
                            placeholder = "Enter a emailaddress"
                            [(ngModel)]="_model.emailAddress"
                            #emailaddress="ngModel">
                </div> 
         <button type="submit" class="btn btn-default"
         [disabled]="!modifyForm.form.valid">Submit</button>
</form>
<!--
<div>
        Model: {{ _model | json}}
</div>
<div>
        Angular Form: {{ modifyForm.value | json }}
</div>
-->
