        <h1>Welcome</h1>
        <div class="jumbotron">
         <h2>FileSentinel</h2>
         <p> FileSentinel&trade; provides an enterprise scale, peer to peer registered and managed secure file exchange.</p>
            <p><a class="btn btn-primary btn-lg">Learn more</a></p>
        </div>
        <!-- <div *ngIf="isLoading">
            <i class="fa fa-spinner fa-spin fa-3x"></i>
        </div>
        <div>
            <img *ngFor="let photo of photos" src="{{ photo.thumbnailUrl }}">
        </div>
        -->