        <h1>Welcome</h1>
        
        <div class="jumbotron">
            <h2>FileSentinel</h2>
            <p> FileSentinel&trade; provides an enterprise scale, peer to peer registered and managed secure file exchange.</p>
           <!-- <p><a class="btn btn-primary btn-lg" >Read Me</a></p> -->
            <button class="btn btn-primary btn-lg" (click)="auth.login()" *ngIf="!auth.authenticated()">Log In</button>
            <button class="btn btn-primary btn-lg" (click)="auth.logout()" *ngIf="auth.authenticated()">Log Out</button>    
        </div>

         <!--<button class="btn btn-primary btn-lg" (click)="auth.login()" *ngIf="!auth.authenticated()">Log In</button>
         <button class="btn btn-primary btn-lg" (click)="auth.logout()" *ngIf="auth.authenticated()">Log Out</button>
         -->
      
        <!--<div class="col-md-6 col-md-offset-3"> 
         <div class="col-md-6 col-md-offset-3">
         <h2>FileSentinel Log In</h2>
         <h4 *ngIf="auth.authenticated()">You are logged in</h4>
         <h4 *ngIf="!auth.authenticated()">Please click 'Log in' button to login</h4>
         </div>
        -->
        <!-- <div *ngIf="isLoading">
            <i class="fa fa-spinner fa-spin fa-3x"></i>
        </div>
        <div>
            <img *ngFor="let photo of photos" src="{{ photo.thumbnailUrl }}">
        </div>
        -->