<h1>Partner Registration</h1>
This is the screen to register a partner to transfer files between parties. Please 
enter partner infomation. All transfers are completed using a multi layered secure file transfer protocol
<p>

<form #partnerForm="ngForm"  (submit)="onSubmit(partnerForm)" name="form" novalidate>

      <div class="form-group">
        <label>Partner Id</label>
        <input type="text" class="form-control"
               name="partnerid" required 
               placeholder = "Enter a unique  and valid Partner name"
               [(ngModel)]="_partnerRegistrationInfo.partnerId  "
               (blur)="validatePartnerId(partnerid)"
               (change)="validatePartnerId(partnerid)"
               #partnerid="ngModel">
               <div *ngIf="_partnerAlreadyExists"
                class="alert alert-danger">
                PartnerId already exists. Please select another one
               </div> 
           <div *ngIf="partnerid.errors && (partnerid.dirty || partnerid.touched)"
                class="alert alert-danger">
                Partner Id is required
           </div>
     </div>

      <div class="form-group">
        <label>Partner Name</label>
        <input type="text" class="form-control"
               name="name" required 
               placeholder = "Enter a Partner name"
               [(ngModel)]="_partnerRegistrationInfo.partnerName"
               #name="ngModel">
           <div *ngIf="name.errors && (name.dirty || name.touched)"
                class="alert alert-danger">
                Partner Name is required
           </div>
     </div>

     <div class="form-group">
      <label>Partner Wallet Path</label>
      <input type="text" class="form-control"
             name="walletfilepath" required 
             placeholder = "Enter the Path to the Partner Wallet file"
             [(ngModel)]="_partnerRegistrationInfo.walletFilePath"
             #walletfilepath="ngModel">
         <div *ngIf="walletfilepath.errors && (walletfilepath.dirty || walletfilepath.touched)"
              class="alert alert-danger">
              Path to the Wallet file is required
         </div>
   </div>

   <div class="form-group">
    <label>Partner Wallet Password</label>
    <input type="text" class="form-control"
           name="walletpassword" required 
           placeholder = "Enter the password for the Wallet"
           [(ngModel)]="_partnerRegistrationInfo.walletPassword"
           #walletpassword="ngModel">
       <div *ngIf="walletpassword.errors && (walletpassword.dirty || walletpassword.touched)"
            class="alert alert-danger">
            Wallet password is required
       </div>
 </div>


<div class="form-group" [class.has-error]="_partnerRegistrationInfo.hasPhoneNumberError">
        <label class="control-label">Phone Number</label>
        <input type="text"   class="form-control"
               name="phonenumber" required placeholder="Enter a valid phonenumber"
               [(ngModel)]="_partnerRegistrationInfo.phoneNumber"
               (blur)="validatePhoneNumber(phonenumber)"
               (change)="validatePhoneNumber(phonenumber)"
                #phonenumber="ngModel">
                <div *ngIf="_partnerRegistrationInfo.hasPhoneNumberError"
                class="alert alert-danger">
                Please Enter  a valid phone number
               </div> 
                <div *ngIf="phonenumber.errors && (phonenumber.dirty || phonenumber.touched)"
                class="alert alert-danger">
                Phone Number is Required
               </div>
     </div>

      <div class="form-group">
        <label>Server Address</label>
        <input type="text" class="form-control"
               name="serveraddress" required 
               placeholder = "Enter Server Address Host Name"
               [(ngModel)]="_partnerRegistrationInfo.serverAddress"
               #serveraddress="ngModel">
           <div *ngIf="serveraddress.errors && (serveraddress.dirty || serveraddress.touched)"
                class="alert alert-danger">
                Server hostname address is required
           </div>
     </div>

      <div class="form-group">
        <label>UserId</label>
        <input type="text" class="form-control"
               name="userid" required 
               placeholder = "Enter Partner UserId"
               [(ngModel)]="_partnerRegistrationInfo.userId"
               #userid="ngModel">
           <div *ngIf="userid.errors && (userid.dirty || userid.touched)"
                class="alert alert-danger">
                Userid is required
           </div>
     </div>
     <div class="form-group">
        <label>Password</label>
        <input type="text" class="form-control"
               name="password" required 
               placeholder = "Enter Partner Password"
               [(ngModel)]="_partnerRegistrationInfo.password"
               #password="ngModel">
           <div *ngIf="password.errors && (password.dirty || password.touched)"
                class="alert alert-danger">
                Password is required
           </div>
     </div>

      <div class="form-group">
        <label>File Path</label>
        <input type="text" class="form-control"
               name="filepath" required 
               placeholder = "Enter Partner File Path to be downloaded or uploaded"
               [(ngModel)]="_partnerRegistrationInfo.filePath"
               #filepath="ngModel">
           <div *ngIf="filepath.errors && (filepath.dirty || filepath.touched)"
                class="alert alert-danger">
                File Path to be uploaded or downnloaded is required
           </div>
     </div>

     <div class="form-group">
        <label>Email Address</label>
        <input type="email"  class="form-control"
               name="emailaddress" required placeholder="Enter a valid email address"
               [(ngModel)]="_partnerRegistrationInfo.emailAddress"
               #emailaddress="ngModel">
       <div *ngIf="emailaddress.errors && (emailaddress.dirty || emailaddress.touched)"
                class="alert alert-danger">
                Email Address is required
       </div>
       </div>


      <div class="form-group">
        <label for="description">Partner Description</label>
       <textarea
            id="description" class="form-control"
            name="description" required
            placeholder = "Enter Partner Description"
            class="form-control"
            [(ngModel)]="_partnerRegistrationInfo.partnerDescription"
            #description="ngModel">
       </textarea>
            <div *ngIf="description.errors && (description.dirty || description.touched)"
                class="alert alert-danger">
                Partner Description is required
           </div>
     </div>

     

    
     <button type="submit" class="btn btn-default"
             [disabled]="!partnerForm.form.valid">Submit</button>
  </form>
<!--
<div>

  Model: {{ _partnerRegistrationInfo | json}}
  Angular: {{ partnerForm.value | json  }}


</div>
-->
