<h1>Partner Registration</h1>
This is the screen to register a partner to transfer files between parties. Please 
enter partner infomation. All transfers are completed through a secure file transfer protocol
<p>



<h2>Partner Name</h2>
<form #partnerForm="ngForm"  name="form">
      <div class="form-group">
        <label for="name">Partner Name</label>
        <input type="text" id="partnername" class="form-control"
               name="name" required 
               [(ngModel)]="_partnerRegistrationInfo.partnerName"
               #name="ngModel">
           <div *ngIf="name.errors && (name.dirty || name.touched)"
                class="alert alert-danger">
                Partner Name is required
           </div>
     </div>

      <div class="form-group">
        <label for="description">Partner Description</label>
       <textarea
            id="description" class="form-control" 
            name="description" required 
            cols="30" 
            rows="5" 
            class="form-control"
            [(ngModel)]="_partnerRegistrationInfo.partnerDescription"
            #description="ngModel">
            <div *ngIf="description.errors && (description.dirty || description.touched)"
                class="alert alert-danger">
                Partner Description is required
           </div>
        </textarea>
     </div>
     <button type="submit" class="btn btn-default"
             [disabled]="!partnerForm.form.valid" (click)="onSubmit()">Submit</button>
      <button type="button" class="btn btn-default"
             [disabled]="!partnerForm.form.valid" (click)="addHero()">New Hero</button>

     
  </form>
