
    <!--show only if authenticated-->
    <!--<nav *ngIf="auth.authenticated()" class="navbar navbar-inverse"> -->
      <nav  class="navbar navbar-inverse">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
            aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class = "navbar-brand" [routerLink]="['filesentinelsplash']">FileSentinel</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div  class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
             <li><a [routerLink]="['partners']">Partner List</a></li>
             <li><a [routerLink]="['registerpartner']">Add Partner</a></li>
             <li><a [routerLink]="['registerclient']">Add Client</a></li>
             <li><a [routerLink]="['auditlogs']">Audit Logs</a></li>
             <li><a [routerLink]="['schedule']">Schedule</a></li>
            <!-- <li><a [routerLink]="['registrationslist']">Registrations</a></li> -->
             <li><a [routerLink]="['maps']">Maps</a></li>
             <li><a [routerLink]="['charts']">Charts</a></li>
          <!-- <li><a [routerLink]="['register']">Register</a></li> -->
             <li><a [routerLink]="['filemap']">File Map</a></li>
        </ul>
        <!-- Search Bar Later
        <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
        </form>
        -->
           <div class="nav navbar-nav navbar-right">
              <button class="btn btn-primary btn-default" (click)="auth.login()" *ngIf="!auth.authenticated()">Log In</button>
              <button class="btn btn-primary btn-default" (click)="auth.logout()" *ngIf="auth.authenticated()">Log Out</button>
           </div>
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
     </nav>

     
    <router-outlet></router-outlet>

