<h1>Partner Registration</h1>
This is the screen to register a partner to transfer files between parties. Please 
enter partner infomation. All transfers are completed through a secure file transfer protocol.
<p>
<form #f="ngForm" (ngSubmit)="onSubmit(f.form)">
    <div class="form-group">
        <label for="partnername">Partner Name</label>
        <input 
            ngControl="partnername" 
            #partnername="ngForm" 
            id="partnername" 
            type="text" 
            class="form-control" 
            required>
        <div *ngIf="partnername.touched && partnername.errors">
            <div 
                class="alert alert-danger" 
                *ngIf="partnername.errors.required">
                Partner Name is required.
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="serveraddress">Server Address</label>
        <input 
            ngControl="serveraddress" 
            #serveraddress="ngForm" 
            id="serveraddress" 
            type="text" 
            class="form-control" 
            required>
        <div *ngIf="serveraddress.touched && serveraddress.errors">
            <div 
                class="alert alert-danger" 
                *ngIf="serveraddress.errors.required">
                Server address is required.
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="remotefilepath">Remote File Path</label>
        <input 
            ngControl="remotefilepath" 
            #remotefilepath="ngForm" 
            id="remotefilepath" 
            type="text" 
            class="form-control" 
            required>
        <div *ngIf="remotefilepath.touched && remotefilepath.errors">
            <div 
                class="alert alert-danger" 
                *ngIf="remotefilepath.errors.required">
                Remote file path is required.
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="localfilePath">Local File Path</label>
        <input 
            ngControl="localfilepath" 
            #localfilepath="ngForm" 
            id="localfilepath" 
            type="text" 
            class="form-control" 
            required>
        <div *ngIf="localfilepath.touched && localfilepath.errors">
            <div 
                class="alert alert-danger" 
                *ngIf="localfilepath.errors.required">
                Local file path is required.
            </div>
        </div>
    </div>
     <div class="form-group">
        <label for="serveruserid">Server UserId</label>
        <input 
            ngControl="serveruserid" 
            #serveruserid="ngForm" 
            id="serveruserid" 
            type="text" 
            class="form-control" 
            required>
        <div *ngIf="serveruserid.touched && serveruserid.errors">
            <div 
                class="alert alert-danger" 
                *ngIf="serveruserid.errors.required">
                Server User Id required.
            </div>
        </div>
    </div>
     <div class="form-group">
        <label for="serverpassword">Server Password</label>
        <input 
            ngControl="serverpassword" 
            #serverpassword="ngForm" 
            id="serverpassword" 
            type="text" 
            class="form-control" 
            required>
        <div *ngIf="serverpassword.touched && serverpassword.errors">
            <div 
                class="alert alert-danger" 
                *ngIf="serverpassword.errors.required">
                Password is required.
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="partnerdescription">Partner Description</label>
        <textarea 
            #partnerdescription="ngForm" 
            ngControl="partnerdescription" 
            id="name" 
            cols="30" 
            rows="2" 
            class="form-control"
            required>
        </textarea>
        <div 
            *ngIf="partnerdescription.touched && !partnerdescription.valid" 
            class="alert alert-danger">
            Partner description is required.
        </div>
    </div>
    <button class="btn btn-primary" type="submit" [disabled]="!f.valid">Submit</button>
</form>