
<h1>Audit Details</h1>
<form #auditForm="ngForm"  (submit)="onSubmit(auditForm)" name="form" novalidate>
       <div class="form-group">
        <label>Enter Partner Name</label>
        <input type="text"  class="form-control"
               name="name" required 
               placeholder="Enter a Valid PartnerId"
               [(ngModel)]="_partnerId"
               #name="ngModel">
       </div>
        <div *ngIf="name.errors && (name.dirty || name.touched)"
                class="alert alert-danger">
                Partner Name is Required
        </div>
         <button type="submit" class="btn btn-default"  [disabled]="!auditForm.form.valid">Submit</button>
</form>

<div *ngIf="_isLoading">
            <i class="fa fa-spinner fa-spin fa-3x"></i>
        </div>
      <table id="clientstable"  class="table table-striped table-hover">
          <thead>
            <tr>
             <th>Client Name</th>
             <th>Client Description</th>
             <th>Audit Logs</th>
            </tr>
        </thead>
        <tbody>
               <tr *ngFor = "let c of _clients">
               <td>{{c.clientName}}</td>
               <td>{{c.clientDescription}}</td>
               <td>
                    <tr *ngFor = "let a of c.auditEntries">
                      {{a.logEntry}} &nbsp; | &nbsp; {{a.timeStamp}}
                     </tr>
                </td>
                </tr>
                 <tr *ngFor = "let c of _clients">
               <td>{{c.clientName}}</td>
               <td>{{c.clientDescription}}</td>
               <td>
                    <tr *ngFor = "let a of c.auditEntries">
                      {{a.logEntry}} &nbsp; | &nbsp; {{a.timeStamp}}
                     </tr>
                </td>
                </tr>
                 <tr *ngFor = "let c of _clients">
               <td>{{c.clientName}}</td>
               <td>{{c.clientDescription}}</td>
               <td>
                    <tr *ngFor = "let a of c.auditEntries">
                      {{a.logEntry}} &nbsp; | &nbsp; {{a.timeStamp}}
                     </tr>
                </td>
                </tr>
                 <tr *ngFor = "let c of _clients">
               <td>{{c.clientName}}</td>
               <td>{{c.clientDescription}}</td>
               <td>
                    <tr *ngFor = "let a of c.auditEntries">
                      {{a.logEntry}} &nbsp; | &nbsp; {{a.timeStamp}}
                     </tr>
                </td>
                </tr>
                 <tr *ngFor = "let c of _clients">
               <td>{{c.clientName}}</td>
               <td>{{c.clientDescription}}</td>
               <td>
                    <tr *ngFor = "let a of c.auditEntries">
                      {{a.logEntry}} &nbsp; | &nbsp; {{a.timeStamp}}
                     </tr>
                </td>
                </tr>
                 <tr *ngFor = "let c of _clients">
               <td>{{c.clientName}}</td>
               <td>{{c.clientDescription}}</td>
               <td>
                    <tr *ngFor = "let a of c.auditEntries">
                      {{a.logEntry}} &nbsp; | &nbsp; {{a.timeStamp}}
                     </tr>
                </td>
                </tr>
                 <tr *ngFor = "let c of _clients">
               <td>{{c.clientName}}</td>
               <td>{{c.clientDescription}}</td>
               <td>
                    <tr *ngFor = "let a of c.auditEntries">
                      {{a.logEntry}} &nbsp; | &nbsp; {{a.timeStamp}}
                     </tr>
                </td>
                </tr>
                 <tr *ngFor = "let c of _clients">
               <td>{{c.clientName}}</td>
               <td>{{c.clientDescription}}</td>
               <td>
                    <tr *ngFor = "let a of c.auditEntries">
                      {{a.logEntry}} &nbsp; | &nbsp; {{a.timeStamp}}
                     </tr>
                </td>
                </tr>
               
        </tbody>
    </table>
    <div>
    <p>
 <!--
    client:  {{ _clients | json }}
    </p>
    <p>
     form: {{ auditForm.value | json }}
    </p>
</div>
-->
    
