﻿
<div class="col-md-6 col-md-offset-3">
    <h2>FileSentinel Log In</h2>
    <h4 *ngIf="auth.authenticated()">You are logged in</h4>
    <h4 *ngIf="!auth.authenticated()">Please click 'Log in' button to login</h4>
</div>
