

<h1>Partner List</h1>
        <div *ngIf="_isLoading">
            <i class="fa fa-spinner fa-spin fa-3x"></i>
        </div>
    <!--
        <table id="partnerstable"  class="table table-striped table-hover" cellspacing=0 width="100%">
        <thead>
            <tr>
             <th>Partner Name</th>
             <th>Partner Id</th>
             <th>Partner Description</th>
             <th>Email Address</th>
             </tr>
        </thead>
       <tfoot>
            <tr>
             <th>Partner Name</th>
             <th>Partner Id</th>
             <th>Partner Description</th>
             <th>Email Address</th>
            </tr>
        </tfoot>
    </table>
    -->


    <table class="table table-striped table-hover">
         <thead>
            <tr>
              <th>Partner Name</th>
              <th>Partner Id</th>
              <th>Partner Description</th>
              <th>Phone Number</th>
              <th>Partner Server Address</th>
           <!--   <th>Partner File Path</th> -->
              <th>Email Address</th>
              <th>Modify</th>
              <th>Remove</th>
            </tr>
        </thead>
        <tbody>
          <tr *ngFor = "let entries of _entries">
                <!--<td><a [routerLink]="['/partnerdetail',entries.partnerId]">{{entries.partnerId}}</a></td> -->
                <td><a [routerLink]="['/partnerdetail',entries.partnerId]">{{entries.partnerName}}</a></td>
                <td>{{entries.partnerId}}</td>
                <td>{{entries.partnerDescription}}</td>
                <td>{{entries.phoneNumber}}</td>
                <td>{{entries.serverAddress}}</td>
            <!--    <td>{{entries.filePath}}</td> -->
                <td>{{entries.emailAddress}}</td>
                <td><a [routerLink]="['/partnermodify',entries.partnerId]">Modify</a></td>
                <td><a [routerLink]="['/partnerdelete',entries.partnerId]">Remove</a></td>
                
                <!--<td><a [routerLink]="['/partnerdelete',entries.partnerId]"><img src="images/close.png"></a></td>-->

               <!-- <td>
                <ul class="nav nav-pills">
                    <a href="#"><span class="badge">x</span></a>
                </ul>
                </td> -->
              </tr>
          </tbody>
   </table>


