<h1>Client Registration</h1>
This is the screen to register a client to the Partner entity for file transfers. Please 
enter partner infomation. All transfers are completed using a multi layered secure file transfer protocol
<p>

<form #clientForm="ngForm"  (submit)="onSubmit(clientForm)" name="form" novalidate>
      
      
      <!--<div class="form-group">
      <label>PartnerId</label>
       <select name="partnerid"  required
               [(ngModel)]="_clientRegistrationModel.partnerId"  
               #partnerid= "ngModel">
              <option *ngFor = "let p of _partners">{{p.partnerId}}</option>
       </select> 

       <div *ngIf="partnerid.errors && (partnerid.dirty || partnerid.touched)"
                class="alert alert-danger">
                Partner Id is Required
           </div>
      </div> -->

      <div class="form-group">
      <label>PartnerId</label>
       <input type = "text" name="partnerid" class="form-control"  required
               [(ngModel)]="_clientRegistrationModel.partnerId"  
               placeholder = "Enter a Partner Id"
               (blur)="validatePartnerId(partnerid)"
               (change)="validatePartnerId(partnerid)"
               #partnerid= "ngModel">
               <div *ngIf="partnerid.errors && (partnerid.dirty || partnerid.touched)"
               class="alert alert-danger">
               Partner Id is Required
               </div>
               <div *ngIf="this._partnerIdIsNotValid"
                class="alert alert-danger">
                PartnerId does not exist. Please choose a valid partner
               </div>
      </div>


      <div class="form-group">
        <label>Client Id</label>
        <input type="text" class="form-control"
               name="clientid" required 
               placeholder = "Enter a Client Id"
               [(ngModel)]="_clientRegistrationModel.client.clientId"
               #clientid="ngModel">
           <div *ngIf="clientid.errors && (clientid.dirty || clientid.touched)"
                class="alert alert-danger">
                Client Id is Required
           </div>
     </div>

     <div class="form-group">
        <label>Client Name</label>
        <input type="text" class="form-control"
               name="name" required 
               placeholder = "Enter a Client name"
               [(ngModel)]="_clientRegistrationModel.client.clientName"
               #name="ngModel">
           <div *ngIf="name.errors && (name.dirty || name.touched)"
                class="alert alert-danger">
                Client Name is required
           </div>
     </div>

     <div class="form-group">
        <label>Client Description</label>
        <input type="text" class="form-control"
               name="description" required 
               placeholder = "Enter a Client Description"
               [(ngModel)]="_clientRegistrationModel.client.clientDescription"
               #description="ngModel">
           <div *ngIf="description.errors && (description.dirty || description.touched)"
                class="alert alert-danger">
                Client Description is required
           </div>
     </div>
     <div class="form-group">
        <label>Client phonenumber</label>
        <input type="text" class="form-control"
               name="phonenumber" required 
               placeholder = "Enter a Client Phone Number"
               [(ngModel)]="_clientRegistrationModel.client.phoneNumber"
               #phonenumber="ngModel">
           <div *ngIf="phonenumber.errors && (phonenumber.dirty || phonenumber.touched)"
                class="alert alert-danger">
                Client Phone is required
           </div>
     </div>
     


     <div class="form-group">
        <label>Client Address</label>
        <input type="text" class="form-control"
               name="clientaddress" required 
               placeholder = "Enter Client Hostname"
               [(ngModel)]="_clientRegistrationModel.client.clientAddress"
               #clientaddress="ngModel">
           <div *ngIf="clientaddress.errors && (clientaddress.dirty || clientaddress.touched)"
                class="alert alert-danger">
                Client hostname address is Required
           </div>
     </div>

      <div class="form-group">
        <label>Client Hostname Userid</label>
        <input type="text" class="form-control"
               name="userid" required 
               placeholder = "Enter Client Hostname Userid"
               [(ngModel)]="_clientRegistrationModel.client.userId"
               #userid="ngModel">
           <div *ngIf="userid.errors && (userid.dirty || userid.touched)"
                class="alert alert-danger">
                Client  UserId is Required
           </div>
     </div>

     <div class="form-group">
        <label>Client Password</label>
        <input type="text" class="form-control"
               name="password" required 
               placeholder = "Enter Client Password"
               [(ngModel)]="_clientRegistrationModel.client.password"
               #password="ngModel">
           <div *ngIf="password.errors && (password.dirty || password.touched)"
                class="alert alert-danger">
                * Client Password is Required - Encrypted
           </div>
     </div>

     <div class="form-group">
        <label>Client Lat Lng</label>
        <input type="text" class="form-control"
               name="latlng" required 
               placeholder = "Enter Client Lat Lng"
               [(ngModel)]="_clientRegistrationModel.client.latlng"
               #latlng="ngModel">
           <div *ngIf="latlng.errors && (latlng.dirty || latlng.touched)"
                class="alert alert-danger">
                * Client Lat Lng is Required - Encrypted
           </div>
     </div>

      <div class="form-group">
        <label>Client File Path</label>
        <input type="text" class="form-control"
               name="filepath" required 
               placeholder = "Enter path of the file that is to be transferred"
               [(ngModel)]="_clientRegistrationModel.client.filePath"
               #filepath="ngModel">
           <div *ngIf="filepath.errors && (filepath.dirty || filepath.touched)"
                class="alert alert-danger">
                * Path to the Client File is required
           </div>
     </div>


     <div class="form-group">
        <label>Email Address</label>
        <input type="text" class="form-control"
               name="emailaddress" required 
               placeholder = "Enter Client Email Address"
               [(ngModel)]="_clientRegistrationModel.client.emailAddress"
               #emailaddress="ngModel">
           <div *ngIf="emailaddress.errors && (emailaddress.dirty || emailaddress.touched)"
                class="alert alert-danger">
                *Client email address is Required.
           </div>
     </div>
 <button type="submit" class="btn btn-default"
             [disabled]="!clientForm.form.valid">Submit</button>
</form>
<!--
<br>
  Model: {{ _clientRegistrationModel | json}}
<br>
  Angular: {{ clientForm.value | json  }}
<br>
-->




