<h1>Schedule Transfer</h1>
<form #f="ngForm" (ngSubmit)="onSubmit(f.form)">
    <div class="form-group">
        <label for="name">Name</label>
        <input 
            ngControl="name" 
            #name="ngForm" 
            id="name" 
            type="text" 
            class="form-control" 
            required>
        <div *ngIf="name.touched && name.errors">
            <div 
                class="alert alert-danger" 
                *ngIf="name.errors.required">
                Name is required.
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="comment">Comment</label>
        <textarea 
            #comment="ngForm" 
            ngControl="comment" 
            id="comment" 
            cols="30" 
            rows="10" 
            class="form-control"
            required>
        </textarea>
        <div 
            *ngIf="comment.touched && !comment.valid" 
            class="alert alert-danger">
            Comment is required.
        </div>
    </div>
    <button class="btn btn-primary" type="submit" [disabled]="!f.valid">Submit</button>
</form>