  <h1>Map</h1>
        This maps the flow of file data across locations and geo-graphical countries.This enables you to understand
        not only where you data is going but what locations and countries are consuming that data. As an example,
        this will help address cross border implications of sharing data 
        <div id="mapcontainer" style="height: 600px; min-width: 610px; max-width: 800px; margin: 0 auto"></div> 
         <!--  <div id="googlemaps" style="width: 900px; height: 300px;"></div>  -->