  <h1>Map</h1>
        This maps the flow of file data across locations and geo-graphical countries.This enables you to understand
        not only where you data is going but what locations and countries are consuming that data. As an example,
        this will help address cross border implications of sharing data 

<form #mapForm="ngForm"  (submit)="onSubmit(mapForm)" name="form" novalidate>

<div class="form-group">
         <label>Enter Partner Name</label>
            <input type="text"  class="form-control"
               name="partnerid" required 
               placeholder="Enter a valid Partner Id"
               [(ngModel)]="_partnerId"
               #partnerid="ngModel">
            <div *ngIf="partnerid.errors && (partnerid.dirty || partnerid.touched)"
                class="alert alert-danger">
                Partner Name is Required
            </div>
      <label>Client Id</label>
        <input type="text" class="form-control"
               name="clientid" required 
               placeholder = "Enter Client Hostname"
               [(ngModel)]="_clientId"
               #clientid="ngModel">
           <div *ngIf="clientid.errors && (clientid.dirty || clientid.touched)"
                class="alert alert-danger">
                Client Id is Required
           </div>
    </div>
         <button type="submit" class="btn btn-default"  [disabled]="!mapForm.form.valid">Submit</button>
    </form>

        <div id="mapcontainer" style="height: 600px; min-width: 610px; max-width: 800px; margin: 0 auto"></div> 
         <!--  <div id="googlemaps" style="width: 900px; height: 300px;"></div>  -->