<h1>Partner Registration</h1>
This is the screen to register a partner to transfer files between parties. Please 
enter partner infomation. All transfers are completed through a secure file transfer protocol.
<p>
<form #f="ngForm" (ngSubmit)="onSubmit(f.form)">
    <div class="form-group">
        <label for="partnername">Partner Name</label>
        <input 
            ngControl="partnername" 
            let partnername="ngForm" 
            id="partnername" 
            type="text" 
            class="form-control" 
            required>
        <div *ngIf="partnername.touched && partnername.errors">
            <div 
                class="alert alert-danger" 
                *ngIf="partnername.errors.required">
                Partner Name is required.
            </div>
        </div>
    </div>
       
    <button class="btn btn-primary" type="submit" [disabled]="!f.valid">Submit</button>
</form>